@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@using SimpleChat.Controllers
@{ 
    Layout = null;
    string
        protocol = Context?.Request?.Scheme,
        host = Context?.Request?.Host.Value,
        domain = $"{protocol}://{host}",
        controller = "Auth";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Chat</title>
    <link rel="apple-touch-icon" sizes="180x180" asp-href-include="~/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" asp-href-include="~/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" asp-href-include="~/favicon-16x16.png" />
    <link rel="manifest" asp-href-include="~/site.webmanifest" />
    @* Подключение веб-шрифта Roboto. *@
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <environment exclude="Development">
        <link asp-href-exclude="~/css/vendor.bundle.min.css" />
        <link asp-href-include="~/css/app.bundle.min.css" />
    </environment>
</head>
<body>
    @* Глобальные переменные JavaScript, зависящие от серверной стороны. *@
    <script type="text/javascript">
        if (typeof window != "undefined" && !window.globals) {
            window.globals = {
                @* Параметры "Facebook". *@
                Facebook: {
                    clientId: "@configuration[ConfigurationKeys.FacebookAppId]",
                    redirectUri: "@Url?.Action(nameof(AuthController.SignInWithFacebookAsync), controller, null,
                        protocol, host)?.ToLower()",
                    authorizeEndpoint: "https://www.facebook.com/v3.3/dialog/oauth",
                    scope: "public_profile,email",
                    state: "@ExternalProvider.Facebook",
                },

                @* Параметры "ВКонтакте". *@
                VKontakte: {
                    clientId: "@configuration[ConfigurationKeys.VKontakteClientId]",
                    redirectUri: "@Url?.Action(nameof(AuthController.SignInWithVKontakteAsync), controller, null,
                        protocol, host)?.ToLower()",
                    authorizeEndpoint: "https://oauth.vk.com/authorize",
                    scope: "offline,email",
                    state: "@Html.Raw(ExternalProvider.VKontakte)",
                    apiVersion: "5.101"
                },

                @* Параметры "Одноклассники". *@
                Odnoklassniki: {
                    clientId: "@configuration[ConfigurationKeys.OdnoklassnikiApplicationId]",
                    redirectUri: "@Url?.Action(nameof(AuthController.SignInWithOdnoklassnikiAsync), controller, null,
                        protocol, host)?.ToLower()",
                    authorizeEndpoint: "https://connect.ok.ru/oauth/authorize",
                    scope: "VALUABLE_ACCESS;LONG_ACCESS_TOKEN;GET_EMAIL",
                    state: "@Html.Raw(ExternalProvider.Odnoklassniki)",
                },

                @* Общие параметры. *@
                domain: "@domain",
                authenticateEndpoint: "@Url.Action(nameof(AuthController.AuthenticateAsync), controller).ToLower()",
                confirmSignInEndpoint: "@Url.Action(nameof(AuthController.ConfirmSigInAsync), controller).ToLower()"
            };
        }
    </script>

    @* Точка монтирования Vue-приложения. *@
    <div id="app"></div>

    <environment include="Development">
        <script asp-src-include="~/js/vendor.bundle.js" asp-append-version="true" defer></script>
        <script asp-src-include="~/js/app.bundle.js" asp-append-version="true" defer></script>
    </environment>
    <environment exclude="Development">
        <script asp-src-include="~/js/vendor.bundle.min.js" defer></script>
        <script asp-src-include="~/js/app.bundle.min.js" defer></script>
    </environment>
</body>
</html>
